body{
    background-color: bisque;

}
p{
    text-indent: 2em;
}
.vignette {
  position: fixed;
  inset: 0;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  pointer-events: none;
  z-index: 999;
}
#main-header{
    font-family: 'Courier New', monospace;
    font-size: 2rem;
    text-align: center;
}
.go-home{
    font-family: 'Courier New', monospace;
    text-align: left;
}
